<h2 mat-dialog-title>Article</h2>

<mat-dialog-content
    class="content"
    [formGroup]="form"
>
    <mat-form-field>
        <mat-label>Article title</mat-label>
        <input
            formControlName="title"
            matInput
        />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Article category</mat-label>
        <input
            formControlName="category"
            matInput
        />
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-button
        type="button"
        (click)="cancel()"
    >
        No Thanks
    </button>
    <button
        mat-button
        type="button"
        [disabled]="form.invalid"
        (click)="save()"
    >
        Save
    </button>
</mat-dialog-actions>
