<a
    href="https://stackblitz.com/github/ngxs-labs/data?file=integration%2Fapp%2Fexamples%2Ftodo%2Ftodo.state.ts"
    target="_blank"
>
    <img
        alt="stackblitz"
        src="https://habrastorage.org/webt/ma/me/jm/mamejmzzxqu5pfn6rfieay6oisi.png"
        class="stackblitz"
    />
</a>

<h3>TodoState</h3>

PS: TodoState will be persisted in localStorage (ttl: 30sec)

<div class="add-todo">
    <input
        #text
        placeholder="New Todo"
        (keydown.enter)="todo.addTodo(text.value); text.value = ''"
    />
    <button
        type="button"
        (click)="todo.addTodo(text.value); text.value = ''"
    >
        Add
    </button>
    <button
        type="button"
        (click)="todo.reset()"
    >
        Reset
    </button>
</div>
<ul>
    @for (todoItem of todo.state$ | async; track todoItem; let i = $index) {
        <li class="todo">
            {{ todoItem }}
            <button
                type="button"
                (click)="todo.removeTodo(i)"
            >
                🗑
            </button>
        </li>
    }
</ul>
