<a
    href="http://stackblitz.com/github/ngxs-labs/data?file=integration%2Fapp%2Fexamples%2Ftodo%2Ftodo.state.ts"
    target="_blank"
>
    <img
        src="https://habrastorage.org/webt/ma/me/jm/mamejmzzxqu5pfn6rfieay6oisi.png"
        alt="stackblitz"
        class="stackblitz"
    />
</a>

<h3>TodoState</h3>

PS: TodoState will be persistence in localStorage (ttl: 30sec)

<div class="add-todo">
    <input
        #text
        placeholder="New Todo"
    />
    <button (click)="todo.addTodo(text.value)">Add</button>
    <button (click)="todo.reset()">Reset</button>
</div>
<ul>
    <li
        *ngFor="let todoItem of todo.state$ | async; let i = index"
        class="todo"
    >
        {{ todoItem }}
        <button (click)="todo.removeTodo(i)">🗑</button>
    </li>
</ul>
