<mat-toolbar class="simple-toolbar">
    <span>Example table in columns</span>
    <mat-checkbox
        style="margin-left: 10px"
        class="mat-checkbox-flat"
        [(ngModel)]="nativeScrollbar"
        (change)="update()"
    >
        Enable native scrollbar
    </mat-checkbox>

    <button
        mat-raised-button
        class="show-simple"
        (click)="showSample()"
    >
        show code sample
    </button>
</mat-toolbar>

<div id="main-column">
    <div id="widget1">
        <ngx-table-builder
            #table1
            enable-filtering
            [native-scrollbar]="nativeScrollbar"
            [source]="dataFirst"
        >
            <ngx-header
                height="65"
                [css-class]="['my-filter']"
            >
                <div class="filter-form">
                    <mat-form-field appearance="outline">
                        <mat-label>Filter</mat-label>
                        <input
                            autocomplete="off"
                            matInput
                            name="width"
                            [(ngModel)]="table1.filterable.filterValue"
                            (ngModelChange)="table1.filter()"
                        />
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>

                    <mat-form-field
                        appearance="outline"
                        class="filter-options"
                    >
                        <mat-label>Find options</mat-label>
                        <mat-select
                            [(value)]="table1.filterable.filterType"
                            (valueChange)="table1.filter()"
                        >
                            <mat-option
                                *ngFor="let type of table1.filterable.types | keyvalue"
                                [value]="type.value"
                            >
                                {{ type.key }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ngx-header>

            <ngx-options is-draggable />
            <ngx-column *ngFor="let key of table1.modelColumnKeys">
                <ng-template ngx-th>{{ key }}</ng-template>
                <ng-template
                    let-cell
                    ngx-td
                >
                    {{ cell }}
                </ng-template>
            </ngx-column>
        </ngx-table-builder>
    </div>

    <div id="widget2">
        <ngx-table-builder
            #table2
            enable-filtering
            [native-scrollbar]="nativeScrollbar"
            [source]="dataSecond"
        >
            <ngx-header
                height="65"
                [css-class]="['my-filter']"
            >
                <div class="filter-form">
                    <mat-form-field appearance="outline">
                        <mat-label>Filter</mat-label>
                        <input
                            autocomplete="off"
                            matInput
                            name="width"
                            [(ngModel)]="table2.filterable.filterValue"
                            (ngModelChange)="table2.filter()"
                        />
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>

                    <mat-form-field
                        appearance="outline"
                        class="filter-options"
                    >
                        <mat-label>Find options</mat-label>
                        <mat-select
                            [(value)]="table2.filterable.filterType"
                            (valueChange)="table2.filter()"
                        >
                            <mat-option
                                *ngFor="let type of table2.filterable.types | keyvalue"
                                [value]="type.value"
                            >
                                {{ type.key }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ngx-header>

            <ngx-options is-draggable />
            <ngx-column *ngFor="let key of table2.modelColumnKeys">
                <ng-template ngx-th>{{ key }}</ng-template>
                <ng-template
                    let-cell
                    ngx-td
                >
                    {{ cell }}
                </ng-template>
            </ngx-column>
        </ngx-table-builder>
    </div>
</div>
