.npmrc
*.iml
*.log
.idea
**/dist/**
**/@angular-ru/**
**/out/**
**/coverage/**
**/.cache**/
**/node_modules**/
**/libs/**/CHANGELOG.md

# for ts lint testing
**/file-suites/**/*.ts

.DS_Store
.DS_Store?

# reports
junit.xml

