*.iml
*.log
.idea
**/dist/**
**/@angular-ru/**
**/out/**
**/reports/**
**/coverage/**
**/node_modules**/

# for ts lint testing
**/file-suites/**/*.ts

.DS_Store
.DS_Store?

# reports
junit.xml

# cache
.angular
**/.cache**/

.nx/cache
.nx/workspace-data