**/.idea/**
**/.cache/**
**/coverage/**
**/file-suites/**
**/node_modules/**
**/dist/**
**/@angular-ru/**
**/lib/**
typescript.bad.ts
typescript.good.ts
package-lock.json
.angular

/.nx/cache
/.nx/workspace-data
CHANGELOG.md
