<div class="my-filter">
    <mat-form-field appearance="outline">
        <mat-label>Find options</mat-label>
        <mat-select
            [value]="$any(table.filterable.filterTypeDefinition)[state.key!]"
            (valueChange)="updateFilterType($event)"
        >
            <mat-option
                *ngFor="let type of table.filterable.types | keyvalue"
                [value]="type.value"
            >
                {{ type.key }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <ng-container [ngSwitch]="$any(table.filterable.filterTypeDefinition)[state.key!]">
        <mat-button-toggle-group
            *ngSwitchCase="TableFilterType.IS_FILLED"
            [ngModel]="$any(table.filterable.definition)[state.key!]"
            (ngModelChange)="table.filterable.updateFilterValueBy($event, state.key); table.filter()"
        >
            <mat-button-toggle [value]="true">Filled</mat-button-toggle>
            <mat-button-toggle [value]="false">Empty</mat-button-toggle>
            <mat-button-toggle value>All</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field
            *ngSwitchCase="TableFilterType.INTERVAL"
            appearance="outline"
            formType="daterange"
        >
            <mat-date-range-input [rangePicker]="picker">
                <input
                    matStartDate
                    placeholder="start"
                    [(ngModel)]="dateRange[0]"
                    (ngModelChange)="changeDateRange()"
                />
                <input
                    matEndDate
                    placeholder="end"
                    [(ngModel)]="dateRange[1]"
                    (ngModelChange)="changeDateRange()"
                />
            </mat-date-range-input>
            <mat-datepicker-toggle
                matSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker
                #picker
                dateEndOfDay
            ></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field
            *ngSwitchDefault
            appearance="outline"
        >
            <mat-label>Filter by {{ state.key! | uppercase }}</mat-label>
            <input
                matInput
                name="width"
                autocomplete="off"
                [ngModel]="$any(table.filterable.definition)[state.key!]"
                (ngModelChange)="table.filterable.updateFilterValueBy($event, state.key); table.filter()"
            />
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </ng-container>
</div>
