<mat-toolbar class="simple-toolbar">
    <span>
        Example resizing
        <span *ngIf="table.isRendered">({{ table.source?.length }}x{{ table.displayedColumns?.length }})</span>
    </span>
    <button
        mat-raised-button
        class="show-simple"
        (click)="showSample()"
    >
        show code sample
    </button>
</mat-toolbar>

<b>Default col width</b>
: 150px
<br />
<br />

<ngx-table-builder
    #table
    [source]="data"
    [row-height]="55"
    [exclude-keys]="['guid']"
    [vertical-border]="false"
    (schemaChanges)="updatedSchema($event)"
>
    <!--
       <ngx-options /> - declaration common options for columns

       Also you can customize your columns manually
       <ngx-column key="myKey" [resizable]="true">...</ngx-column>
    -->
    <ngx-options
        is-draggable
        [nowrap]="false"
    ></ngx-options>

    <ngx-column
        key="id"
        width="80"
        important-template
        sticky
    ></ngx-column>
</ngx-table-builder>
