<div class="main__wrap">
    <h1>Guide overview</h1>

    <p>
        The
        <strong>ngx-table-builder</strong>
        provides a styled data-table that can be used to display rows of data. The
        <strong>ngx-table-builder</strong>
        is an customizable data-table with a fully-templated API, dynamic columns, and an accessible DOM structure. This
        component acts as the core upon which anyone can build their own tailored data-table experience.
    </p>

    <pre><code class="plaintext">
  $ npm install --save &#64;angular-ru/cdk/virtual-table

</code></pre>

    <p>
        <strong>Benefits:</strong>
        <br />
    </p>
    <ul>
        <li>Outstanding Performance;</li>
        <li>Simple use and setup;</li>
        <li>Customisable Appearance;</li>
        <li>State Persistence;</li>
        <li>Filtering;</li>
        <li>Sorting;</li>
        <li>Selection;</li>
    </ul>

    <p>
        After a few seconds of waiting, you should be good to go. Let's get to the actual coding! As a first step, let's
        add the Angular table builder module to our app module (src/app.module.ts):
    </p>

    <pre><code class="javascript" ngNonBindable>
    import &#123; provideVirtualTable &#125; from '&#64;angular-ru/cdk/virtual-table';

    export const appConfig: ApplicationConfig = &#123;
       providers: [
          provideVirtualTable()
       ],
       ...
    &#125;;
    </code></pre>

    <p>Next, let's declare the basic grid configuration. Edit src/app.component.ts:</p>

    <pre><code class="typescript">
    import &#123; Component &#125; from '&#64;angular/core';
    import &#123; MyData &#125; from './my-data.interface';
    import &#123; VirtualTable &#125; from '&#64;angular-ru/cdk/virtual-table';

    &#64;Component(&#123;
      selector: 'app-root',
      template: `&lt;ngx-table-builder [source]="data"&gt;&lt;/ngx-table-builder&gt;`,
      imports: [VirtualTable]
    &#125;)
    export class AppComponent &#123;
      public data: MyData[] = [
          &#123; make: 'Toyota', model: 'Celica', price: 35000 &#125;,
          &#123; make: 'Ford', model: 'Mondeo', price: 32000 &#125;,
          &#123; make: 'Porsche', model: 'Boxter', price: 72000 &#125;
      ];
    &#125;
    </code></pre>

    <ngx-table-builder [source]="rowData" />

    <p>
        For more information on the interface and a detailed look at how the table is implemented, see the
        <a routerLink="samples/guide">guide</a>
        .
    </p>

    <div class="guide">
        <h2>Rendering pipeline</h2>
        <img
            alt=""
            src="assets/img/pipeline.png"
        />
    </div>
</div>
