<mat-toolbar class="simple-toolbar">
    <span>
        Example sorting

        <button
            mat-raised-button
            (click)="sortByIdDirection = !sortByIdDirection"
        >
            Toggle sort by ID
        </button>
        <mat-checkbox
            class="regenerate"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="skipSort"
        >
            Skip internal sort
        </mat-checkbox>
    </span>

    <button
        mat-raised-button
        class="show-simple"
        (click)="showSample()"
    >
        show code sample
    </button>
</mat-toolbar>

<ngx-table-builder
    [source]="data"
    [skip-sort]="skipSort"
    [sort-types]="sortByIdDirection ? { id: 'asc' } : { id: 'desc' }"
    (sortChanges)="sortChanges($event)"
>
    <ngx-empty>No data</ngx-empty>
    <ngx-source-null>Loading</ngx-source-null>
    <ngx-options is-sortable></ngx-options>
</ngx-table-builder>
