<div>
    <h3>amountFormat directive</h3>

    <form [formGroup]="amountForm">
        <mat-form-field>
            <mat-label>Amount sum</mat-label>
            <input
                amountFormat
                formControlName="sum"
                matInput
                placeholder="Sum"
            />
        </mat-form-field>
    </form>

    <h3>inputFilter directive</h3>

    <h4>default filter (only numbers)</h4>
    <input
        inputFilter
        class="input-filter"
        [value]="valueNumbers"
    />
    <span>{{ onlyNumbers }}</span>

    <h4>simple input</h4>
    <input
        class="input-filter"
        [inputFilter]="filterRegExp"
        [value]="value"
    />
    <span>{{ filterRegExp }}</span>

    <h4>with control</h4>
    <input
        class="input-filter"
        [formControl]="filterControl"
        [inputFilter]="filterRegExp"
    />
    <span>{{ filterRegExp }}</span>
    <br />
    control: "{{ filterControl.value }}"
</div>
