<div>
    <h2>DataHttpClient</h2>
    <p>
        Custom http client, with the ability to customize requests, auto unsubscribe and additional request
        interceptors.
    </p>
    <h2>LimitConcurrency (optional)</h2>
    <p>
        There is almost no limit on the number of requests that can be sent in parallel, by default this value is 255,
        but if necessary, you can change it, for example by setting
        <b>limitConcurrency: 5</b>
        . This mean that maximum of 5 requests can be executed in parallel. Next one immediately start only if one of
        the previous requests is completed. Open the developer tool(F12 -> Network) and see how requests are sent.
    </p>
</div>
