.table-grid-icon {
    &--sortable,
    &--draggable {
        width: 16px;
        height: 16px;
    }

    &--draggable {
        cursor: move;
    }

    &--filterable {
        width: 16px;
        height: 16px;
    }
}
