.table-grid:not(.table-grid__native-scrollbar) {
    color: rgba(0, 0, 0, 0);

    $tableScrollWidth: 10px;
    $minPadding: 2px;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        width: $tableScrollWidth;
        height: $tableScrollWidth + $minPadding;
        border-radius: $tableScrollWidth;
        background-clip: padding-box;
        border: 2px solid transparent;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 0 $tableScrollWidth;
        background: transparent;
    }

    &::-webkit-scrollbar-corner {
        background: var(--ngx-table-background-color);
    }

    &:hover {
        color: var(--ngx-table-scrollbar-thumb-color);
    }
}

.table-grid,
.table-grid__root,
.table-grid__column,
.table-grid__column-area-content {
    scroll-behavior: smooth;
}
