.content-visible {
    min-height: 700px;
}

.regenerate {
    margin-left: 10px;
    margin-right: 20px;
}

#main-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100% - 100px);
}

#widget1,
#widget2 {
    flex: 1;
    flex-shrink: 0;
    overflow: auto;
    margin: 5px;
}

sample-eight ngx-table-builder * {
    font-size: 12px !important;
}

.my-action {
    padding: 0 !important;
}

.my-filter {
    padding: 10px 5px 10px 5px;
}

.my-filter .mat-form-field {
    width: 100%;
}

.my-filter .filter-form {
    display: flex;
}

.my-filter .filter-options.mat-form-field {
    margin-right: 0;
}

.my-filter .filter-options {
    width: 40%;
}

.my-filter .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin-bottom: 0;
    padding: 2px 0;
}
