<div class="main__wrap">
    <h1>Guide overview</h1>

    <p>
        The
        <strong>flex-layout</strong>
        provides a styled library with simple directives.
    </p>

    <pre><code class="plaintext">$ npm install --save &#64;angular-ru/cdk</code></pre>

    <p>
        After a few seconds of waiting, you should be good to go. Let's get to the actual coding! As a first step, let's
        add the Angular flex layout module to our app module (src/app.module.ts):
    </p>

    <pre><code class="javascript" ngNonBindable>import &#123; FlexLayout &#125; from '&#64;angular-ru/cdk/flex-layout';

&#64;Component(&#123;
   imports: [
      FlexLayout
   ],
   ...
&#125;)
export class AppComponent &#123; &#125;
    </code></pre>

    <p>Next, let's import styles to your project. Edit src/styles.css:</p>

    <pre><code class="css" ngNonBindable>
&#64;import '~&#64;angular-ru/cdk/flex-layout/styles';

</code></pre>
</div>
