<mat-drawer-container class="dashboard">
    <mat-drawer
        mode="side"
        opened
        class="dashboard__menu"
    >
        <mat-toolbar class="title">
            <img
                src="assets/favicon.ico"
                alt="angular"
                class="logo"
            />
            <a
                routerLink="/"
                class="logo-title"
            >
                @angular-ru/cdk/virtual-table
            </a>
        </mat-toolbar>

        <mat-list class="menu">
            <mat-list-item class="menu__item">
                <a routerLink="samples/guide">
                    -
                    <strong>Guide overview</strong>
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item class="menu__item">
                <a routerLink="samples/first">- Example virtual scroll table</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/first-second">- Example auto push</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/second">- Example custom templates</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/third">- Example selection</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/fourth">- Example nested models</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/five">- Example resizing</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/six">- Example sorting</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/seven">- Example table in tabs</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/eight">- Example dynamic changes</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/night">- Example table in columns</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/eleven">- Example context menu</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/twelve">- Example table header, footer</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/thirteen">- Example mouse events</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/fourteen">- Example filters</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/fifteen">- Example drag-and-drop</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/sixteen">- Example persistent state</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/seventeen">- Example invalidate schema</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="menu__item">
                <a routerLink="samples/eighteen">- Example cell css classes</a>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-drawer>

    <mat-drawer-content class="dashboard__content">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
