.ext-box {
    display: table;
    width: 100%;
    height: 100%;
}

.int-box {
    display: table-cell;
    vertical-align: middle;
}

.center-block {
    margin: 0 auto;
    display: block;
    padding: 10px;
}

.example {
    opacity: 1;
    height: auto;
    transition: opacity 0.3s ease-out;
}
