<div class="ext-box">
    <div class="int-box">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="center m-bottom">Simple logger for javascript</h3>
                    <p class="center">To see the example output you need to open the browser console or press F12.</p>
                </div>
            </div>

            <div class="row example">
                <div class="col-3">
                    <button
                        type="button"
                        class="center-block"
                        (click)="exampleBasicMethods()"
                    >
                        Show me
                    </button>
                    <h5 class="center m-bottom">
                        Basic method
                        <br />
                        (trace, debug, info, ..)
                    </h5>
                </div>

                <div class="col-3">
                    <button
                        type="button"
                        class="center-block"
                        (click)="exampleGroups()"
                    >
                        Show me
                    </button>
                    <h5 class="center m-bottom">
                        Example groups
                        <br />
                        (closed, opened)
                    </h5>
                </div>

                <div class="col-3">
                    <button
                        type="button"
                        class="center-block"
                        (click)="exampleNestedGroups()"
                    >
                        Show me
                    </button>
                    <h5 class="center m-bottom">
                        Nested groups
                        <br />
                        (deep)
                    </h5>
                </div>

                <div class="col-3">
                    <button
                        type="button"
                        class="center-block"
                        (click)="exampleSetMinimalLoggingLevel()"
                    >
                        Show me
                    </button>
                    <h5 class="center m-bottom">
                        Show only warnings and error
                        <br />
                    </h5>
                </div>

                <div class="col-3">
                    <button
                        type="button"
                        class="center-block"
                        (click)="exampleSetStyleLine()"
                    >
                        Show me
                    </button>
                    <h5 class="center m-bottom">
                        Custom CSS styles
                        <br />
                        for line
                    </h5>
                </div>

                <div class="col-3">
                    <button
                        type="button"
                        class="center-block"
                        (click)="examplePrettyJson()"
                    >
                        Show me
                    </button>
                    <h5 class="center m-bottom">
                        Pretty JSON
                        <br />
                        (output)
                    </h5>
                </div>

                <div class="col-3">
                    <button
                        type="button"
                        class="center-block"
                        (click)="exampleLevelGroups()"
                    >
                        Show me
                    </button>
                    <h5 class="center m-bottom">
                        Level groups
                        <br />
                        (trace, debug, info, ..)
                    </h5>
                </div>

                <div class="col-3">
                    <button
                        type="button"
                        class="center-block"
                        (click)="exampleSetGlobalStyleLine()"
                    >
                        Show me
                    </button>
                    <h5 class="center m-bottom">
                        Global style line
                        <br />
                        (css global style)
                    </h5>
                </div>

                <div class="col-3">
                    <button
                        type="button"
                        class="center-block"
                        (click)="exampleCssClasses()"
                    >
                        Show me
                    </button>
                    <h5 class="center m-bottom">
                        CSS classes
                        <br />
                        (set in console)
                    </h5>
                </div>

                <div class="col-3">
                    <button
                        type="button"
                        class="center-block"
                        (click)="exampleDecorators()"
                    >
                        Show me
                    </button>
                    <h5 class="center m-bottom">
                        Decorator
                        <br />
                    </h5>
                </div>

                <div class="col-3">
                    <button
                        type="button"
                        class="center-block"
                        (click)="exampleDecoratorGroups()"
                    >
                        Show me
                    </button>
                    <h5 class="center m-bottom">
                        Decorator group
                        <br />
                        with function title
                    </h5>
                </div>

                <div class="col-3">
                    <button
                        type="button"
                        class="center-block"
                        (click)="exampleTimeDecorator()"
                    >
                        Show me
                    </button>
                    <h5 class="center m-bottom">
                        Decorator timer
                        <br />
                    </h5>
                </div>

                <div class="col-6">
                    <button
                        type="button"
                        class="center-block"
                        (click)="exampleTimerDecorator()"
                    >
                        Show me
                    </button>
                    <h5 class="center m-bottom">
                        Advanced timer decorator
                        <br />
                    </h5>
                </div>

                <div class="col-6">
                    <button
                        type="button"
                        class="center-block"
                        (click)="exampleBasicMethods()"
                    >
                        Show me
                    </button>
                    <h5 class="center m-bottom">Full configuration</h5>
                </div>
            </div>
        </div>
    </div>
</div>
