.ng-tooltip {
    position: absolute;
    text-align: center;
    pointer-events: none;
    border-radius: 4px;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 10000;
    background: var(--tooltip-color);
    color: #fff;
    padding: 8px 10px;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 #000;
    transition-delay: 0.2s !important;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    word-break: break-word;

    &-small {
        max-width: 150px;
    }

    &-medium {
        max-width: 300px;
    }
}

.ng-tooltip-show {
    opacity: 1;
    transition-delay: 0.5s !important;
}

.ng-tooltip:after {
    content: '';
    position: absolute;
    border-style: solid;
}

.ng-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: var(--tooltip-color) transparent transparent transparent;
}

.ng-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent var(--tooltip-color) transparent;
}

.ng-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent var(--tooltip-color);
}

.ng-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent var(--tooltip-color) transparent transparent;
}
