<mat-drawer-container class="dashboard">
    <mat-drawer
        mode="side"
        opened
        class="dashboard__menu"
    >
        <mat-toolbar class="title">
            <img
                alt="angular"
                src="assets/img/angular.svg"
                class="logo"
            />
            <a
                routerLink="/"
                class="logo-title"
            >
                &#64;angular-ru/cdk/http
            </a>
        </mat-toolbar>

        <mat-list class="menu">
            <mat-list-item class="menu__item">
                <a routerLink="samples/guide">
                    -
                    <strong>Guide overview</strong>
                </a>
            </mat-list-item>
            <mat-divider />
        </mat-list>
    </mat-drawer>

    <mat-drawer-content class="dashboard__content">
        <router-outlet />
    </mat-drawer-content>
</mat-drawer-container>
