.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    &.flex-justify-normal {
        margin-bottom: 10px;
    }

    &.flex-space-between {
        justify-content: space-between;
        width: 100%;
    }

    & > .flex__item + .flex__item {
        margin-left: 10px;
    }
}
