.flex-none {
    flex: none !important;
}

.flex-end {
    justify-content: flex-end !important;
}

.flex-start {
    justify-content: flex-start !important;
}

.flex-inline {
    display: inline-flex;
}

.flex-container,
.flex-column {
    &__around {
        justify-content: space-around;
    }

    &__flex-end {
        justify-content: flex-end;
    }

    &__evenly {
        justify-content: space-evenly;
        min-height: 65px;
        align-items: center;
    }

    &__nowrap {
        flex-wrap: nowrap !important;
    }

    &__full-width {
        width: 100%;
    }

    &--center {
        justify-content: center !important;
    }

    .flex__break {
        width: 100%;
        height: 0;
        border: none;
        padding: 0;
        margin: 0;
    }

    .flex__item {
        width: auto;
        box-sizing: border-box;

        &--auto {
            margin: auto;
        }

        &--wide {
            margin-right: 35px;
        }
    }

    .flex__item.flex__full-width {
        width: 100%;
    }

    &__no-padding .flex__item {
        padding: 0;
    }
}
