<div>
    <mat-toolbar class="simple-toolbar">
        <span>Auto push</span>

        <button
            mat-button
            type="button"
            class="regenerate"
            (click)="add()"
        >
            Add
        </button>
    </mat-toolbar>
</div>

<ngx-table-builder
    #table
    [source]="data"
>
    @for (key of table.modelColumnKeys; track key) {
        <ngx-column [key]="key">
            <ng-template ngx-th>{{ key }}</ng-template>
            <ng-template
                let-cell
                ngx-td
            >
                {{ cell }}
            </ng-template>
        </ngx-column>
    }

    <ngx-column
        custom-key
        empty-head
        key="action"
        sticky-end
        width="140"
    >
        <ng-template
            let-row
            ngx-td
            row
        >
            <button
                mat-button
                type="button"
                class="my-action"
                (click)="edit(row)"
            >
                <mat-icon>edit</mat-icon>
            </button>
            <button
                mat-button
                type="button"
                class="my-action"
                (click)="delete(row)"
            >
                <mat-icon>delete</mat-icon>
            </button>
        </ng-template>
    </ngx-column>
</ngx-table-builder>
