<mat-toolbar class="simple-toolbar">
    <span>
        Example selection
        <span *ngIf="table.isRendered">({{ table.source?.length }}x{{ table.displayedColumns?.length }})</span>
        <span style="margin-left: 5px">Selected: {{ table.selection.selectionModel.size }}</span>
    </span>
    <button
        mat-raised-button
        class="show-simple"
        (click)="showSample()"
    >
        show code sample
    </button>
</mat-toolbar>

<ngx-table-builder
    #table
    enable-selection
    [source]="data"
    [produce-disable-fn]="disableFn"
>
    <ngx-column
        key="selection"
        sticky
        width="55"
        custom-key
    >
        <ng-template ngx-th>
            <mat-checkbox
                [indeterminate]="table.selectionModel.isIndeterminate"
                [checked]="table.selectionModel.isAll"
                (change)="table.selection.toggleAll(data)"
            ></mat-checkbox>
        </ng-template>
        <ng-template
            ngx-td
            row
            let-row
            (onClick)="$event.preventDefault()"
        >
            <!-- eslint-disable @angular-eslint/template/no-call-expression -->
            <mat-checkbox
                [checked]="table.selectionModel.get($any(row).id)"
                (change)="table.selection.toggle(row)"
            ></mat-checkbox>
        </ng-template>
    </ngx-column>

    <ngx-column
        *ngFor="let key of table.modelColumnKeys"
        [key]="key"
    ></ngx-column>
</ngx-table-builder>
